#juego {
    opacity: 0.3;
    width: 300px;
    height: 300px;
}

table {
    width: 50%;
    height: 50%;
}

td {
    width: 25%;
    height: 25%;
    background-color: black;
    border: 3px solid black;
    border-radius: 5px;
}

.letra {
    color: white;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

input {
    width: 25px;
    height: 30px;
}

.centrar {
    margin-left: 150px;
}
body{
    color: blueviolet;
    background: darkblue (100,150,200);   
}