body {
    background-color: rgb(80, 66, 66);
}

div img {
    border-radius: 50;
    width: 600px;
    border-radius: 50px;
}

header {
    width: 100%;
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+19 */
    background: #45484d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 19%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #45484d 0%, #000000 19%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #45484d 0%, #000000 19%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
    margin-bottom: 25px;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.color {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(120, 120, 235);
    background-color: #000000;
}

.estilos p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header .logo {
    font-size: 50px;
    line-height: 35px;
    color: white;
}

header nav {
    float: right;
}

header nav a {
    display: inline-block;
    color: aqua;
    text-decoration: none;
    padding: 8px 15px;
    line-height: normal;
    font-size: 17px;
    font-weight: bold;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

header nav a:hover {
    background-color: rgb(139, 176, 206);
    border-radius: 50px;
}

.header2 {
    position: fixed;
    height: 100px;
}

.header2 .logo {
    line-height: px;
    font-size: 10px;
    text-align: center;
}

.header2 nav {
    line-height: 10px;
}

.contenido p {
    margin-bottom: 1em;
}

.contenido {
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: justify;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.estilos {
    background-color: white;
    border-radius: 5px;
}

a:hover {
    background-color: rgb(87, 116, 111);
}

.texto {
    font-family: 'Times New Roman';
    text-align: center;
    color: black;
}

.txt {
    text-align: center;
    position: absolute;
}

.final {
    background-color: rgb(17, 71, 235);
    border-style: solid;
    border-color: rgb(158, 133, 133);
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.documento {
    margin: 0;
    padding: 0;
    background: #000000;
    color: white;
    display: inline-block;
    font-size: 1.25em;
    margin: 20px;
    padding: 10px 10px;
    text-align: center;
    width: 300px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
    border-radius: 5px;
    border-bottom: solid;
}

.general {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer {
    background-color: black;
    color: white;
    padding: 40px;
}

.container-footer-all {
    width: 100%;
    max-width: 1200pz;
    margin: auto;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 22px;
}

.colum1 p {
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.colum2 {
    max-width: 400px;
}

.colum2 h1 {
    font-size: 22px;
}

.colum2 .row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

.umg img {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.row label {
    margin-top: 10px;
    margin-left: 10px;
    color: #c7c7c7;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 19px;
}

.row2 {
    margin-top: 20px;
    color: #c7c7c7;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

.row2 label {
    margin-left: 20px;
}

.row2 label {
    margin-left: 20px;
    max-width: 150px;
    max-width: 150px;
    margin-top: 10px;
}

footer a {
    color: #c7c7c7;
    background-color: #101010;
    font-weight: bold;
    text-decoration: none;
}

.container-footer {
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    height: 30px;
}

.copyright {
    color: #c7c7c7;
}

color: #c7c7c7;

}